.idea
.vscode
compile_flags.txt
/data
/target/
build/
/dbg
/banned-ips.json
/banned-players.json
/nukkit.yml
/ops.txt
/pom.xml
/server.log
/server.properties
/white-list.txt
/worlds/
/players/
/plugins/
/logs/
/native/build
/server/build
/server/bin
/native/bin
.gradle
*.bin
